.newProduct {
  flex: 4;
}

.addProductForm {
  margin-top: 10px;
}

.addProductItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.addProductItem > select {
  padding: 10px;
}

.addProductItem > label {
  margin-bottom: 10px;
  color: gray;
  font-weight: 600;
}
.addProductItem > input {
  padding: 10px;
}
.addProductButton {
  margin-top: 10px;
  padding: 7px 10px;
  border-radius: 5px;
  border: none;

  cursor: pointer;
  background-color: darkblue;
  color: #fff;
  font-weight: 600;
}
